header {
    background: black;
    height: 100px;
}

.box1 {
    
    width: 200px;
    float: left;
    margin-left: 50px;
}

.box2 { 
    
    width: 400px;
    float: right;
    margin-right: 50px; 
}

.header-box {
    background: #eee;
    height: 50px;
    border:1px black;
    margin-top: 25px;
}

main {
    background: #eee;
}

section{
    width: 75%;
    border: 1px black;
    margin: 100px auto 0;
    background: black;
    padding: 1px;
} 

.section-box1 {
    width: 80%;
    margin: 5px

}

.section-box2 {
    width:60%;
}
    

 .white-box {
    background: #eee; 
    margin: 100px auto 0;
    height: 100px;
   

}

.section-box3 {
    width: 70%;
    margin: 0 auto;
    
}

.pill {
     width: 48%;
     display: inline-block;
     background: white;
     border-radius: 55px;
     height: 45px;
}

.right-box{
    margin-left: 5px;
    
}

.left-box{
    margin-right: 20px;
    
}



